h1 {
    background-color: red;
}

p {

    font_size: 32pt;
    color: green;
}

.LEHA {
    color: pink;
    background: black;
    border: 10px solid yellow;
    border-radius: 35px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-lift: 20px;
}


.DZ {
    font-style: italic;
    text-align: center;
    font-size: 24px;
    text-shadow: green;
    color: black;



}